
.header-opacity{
    background-color:rgba(0, 0, 0, 0.5);
}
.header-picture{
    background-image: url("../img/header.jpg");
    background-position: center;
    background-size:cover;   
}
.articles h2{
    font-family: "Oswald-Regular";
}
.articles h3{
    font-family: "Courgette";
    font-size: 18px;
}
.articles p{
    font-family: "Oswald-ExtraLight";
    font-size: 14px;
}
